*{
    margin: 0px;
    padding: 0px;
    font-family:'Quicksand', sans-serif;
    font-weight: 'regular';
}
img{
    width:100%;
}
h2{
    color: black;
    font-size: 4vh;
    text-align: center;
}
h5{
    color: black;
    font-size: 3vh;
    text-align: start;
}
h6{
    color: black;
    font-size: 1vw;
    text-align: center;
}
col{
    padding: 5%;
}
body{
    background-color:#f5fcfd;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    color: #929292;
    margin: 0px; 
    padding: 0px;
}
p{
    text-align: center;
    font-size: 2vh;
    
}
@media(max-width:776px){
    h2{
        font-size: 4vw;
    }
    h4{
        font-size: 3vw;
    }
    p{
        font-size: 2.5vw;
    }
}
}
h3{
    text-align: center;
}
a{
    font-size: 1.5vw;
    color:#646464;
    padding: 0px;
}
img{
    size: cover;
}
a:hover{
    color: #0f20ff;
}
.p{
    text-align: center;
}
.container{
    display: flex;
    align-self: center;
    max-width: 1920px;
    padding-right: 1%;    
    padding-left: 1%;
}
.background{
    background-image: url(../img/Shape1.png);
    background-repeat: no-repeat;
    background-size:cover;
}
.btn{
    font-size: 1.3vw;
    font-weight: bold;
    border-radius: 1.5em;
    background-color: #0063dd;
}
.btn:hover{
    background-color: #5480bb;
}
.empty-btn{
    background-color: white;
    font-weight: bold;
    border-color: #0063dd;
    color:  #0063dd;
}
/*header*/

header {
    padding: 0px;
    margin-bottom: 2vw;
    position: relative;
    height: auto !important;
}
.Logo{
    display:flex;
    align-items: center;
    height: 100%;
    display: flex;
    background-color: #0f7bff;
    margin-top: 0px;
    margin-left: 5%;
    border-radius: 0px 0px 0.8em 0.8em;
    width: 12vw;
    height: 12vh;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.Logo h2{
    font-weight: bold;
    color: #feffff;
    font-size:2.1vw;
}
.navbar{
    padding-top: 0px;
    display: flex;
    align-self: center;
}
.navbar-nav{
    display:flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
@media(max-width: 767px){
    .navbar-nav{
        display:flex;
        flex-wrap: wrap;
        align-items: center; 
    }
    header .nav-item{
        display:flex;
        font-size: 2vh;
        align-items: center;
        padding: 0px;
    }
    .btn{
        font-size: 3vw;
    }
    .Logo{
        width: 24vw;
        height: 14vh;
    }
    .Logo h2{
        font-size:4.2vw;
    }
    a{
        font-size: 3vw;
    }
    .navbar-toggler{
        margin-right: 5%;
    }
}
.firstcont{
    padding-top: 0px;
}
header .nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3vw;
    text-transform: uppercase;
    z-index: 5;
    padding: 0px;
}

/*main*/

.post{
    text-align: center;
    align-items: center;
    font-size: 2vw;
}
@media screen and (min-width: 1200px) {
    .post {
       font-size: 20px;
    }
}
.post-title{
    text-align: center;
    font-weight: bold;
    font-size: 3vw;
    color: #333333;
}
#empty-margin{
    height: 2vh;
}
@media(max-width: 767px){
    .post{
        font-size: 3vw;
    }
    .post-title{
        font-size: 5vw;
    }
}

/*section1*/
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block{
    background-color:#ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2vw;
    width: 22vw;
    overflow: clip;
}
.block #icon1{
    background-image: url(../img/Ellipse1.png);
    background-repeat: no-repeat;
    background-size:cover;
}
.block #icon2{
    background-image: url(../img/Ellipse2.png);
    background-repeat: no-repeat;
    background-size:cover;
}
.block #icon3{
    background-image: url(../img/Ellipse3.png);
    background-repeat: no-repeat;
    background-size:cover;
}
#forblocks{
    width: 70vw;
    margin-bottom: 10vh;
}
#CleanDesign{
    margin-top: 4vh;
}
#Analysis{
    margin-bottom: 4vh;
}
#Messaging{
    margin-bottom: 4vh;
}
#signup{
    width: 100%;
}
@media (max-width: 767px){
    #forblocks{
        width: 90vw;
        margin-bottom: 4vh;
    }
    .block{
        width: 90vw;
    }
    #CleanDesign{
        margin: 0vh;
    }
    #Analysis{
        margin: 0vh;
    }
    #Messaging{
        margin: 0vh;
    }
}
.bottom-arrow{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    width:40px;
    height:40px;
    background:white;
    border:2px solid rgb(220,220,220);
    color:rgb(220,220,220);
    font-size:20px;
    border-radius:50%;
    text-align: center;
    line-height: 48px;
    font-weight: 700;
    position: relative;
    top: -20px;
    cursor:pointer;
    transition:border 0.1s linear, color 0.1s linear;
    margin-bottom: 10vh;
}
@media (max-width:767px){
    .bottom-arrow{  
        margin-bottom: 3vh;
    }
}
.back-img-1{
    background-image:  url(../img/Rectangle2.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-self: center;
}
.smallcontainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.smallcontainer h2{
    color: black;
    font-size: 3vw;
}
.smallcontainer p{
    font-size: 1.5vw;
    display: flex;
    text-align: left;
}
.smallcontainer a{
    color:  #0063dd;
}
.img-1{
    margin-bottom: 5%;;
}
.back-img-2{
    background-image:  url(../img/Rectangle1.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-self: center;
    margin-bottom: 15vh;
}
@media (max-width: 767px){
    .smallcontainer h2{
        color: black;
        font-size: 4vw;
    }
    .smallcontainer p{
        font-size: 2.5vw;
    }
    .back-img-2{
        margin-bottom: 5vh;
    }
}
.empt{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.empt p{
    font-size: 1vw;
    width: 130%;
}
.img-3{
    width: 90%;
}
#foricon2{
    margin-top: 4vw;
    margin-bottom: 4vw:
}
#foricon2 hr{
    border-top: 0.7px dashed #f5fcfd;
    position: relative;
    left:6%;
    top: 4.8vw;
}
@media (max-width: 767px){
    #foricon2{
        margin-top: 2vw;
        margin-bottom: 2vw;
    }
    .empt p{
        width: 100%;
        font-size: 1.5vw;
    }
    #foricon2 hr{
        display: none;
    }
    .empt h6{
        font-size: 2.5vw;
    }
    .img-3{
        width: 100%;
    }
}
.price_button_y{
    color: white;
    font-size: 1.3vw;
    font-weight: bold;
    width: 40%;
    border-radius: 0 1.5em 1.5em 0;
    background-color: #0063dd;
}
.price_button_m{
    color: #0063dd;
    font-size: 1.3vw;
    font-weight: bold;
    width: 40%;
    border-radius: 1.5em 0 0 1.5em ;
    background-color: white;
    border-color: #0063dd;
}
.block1{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.block1 h2{
    text-align: start;
}
.block1 p{
    text-align: start;
}
.img-4{
    margin-top: 2vh;
    width:50%;
}
.block2{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#page5{
    margin-bottom: 5vh;
    background-color: #fafafa;
}
.block2 h5{
    font-size: 2vw;
    color:#0063dd; 
}

/*page6*/

#page6{
    background-color: #f5fcfd;
}
.smallfont{
    position: relative;
    height:100%;
    padding: 1vw;
}
.smallfont p{
    font-size: 0.7vw;
}
.twitter{
    width: 100%;
}
.smallfont h6{
    align-self: center;
}
@media(max-width:776px){
    .smallfont h6{
        font-size: 3vw;
    }
    .smallfont p{
        font-size: 2vw;
    }
}
.paginator-button{
    height:10px;
    padding:0 10px;
    border:none;
    border-radius:5px;
    background:rgb(212,212,212);
    transition:padding 0.15s linear;
}
.paginator-button:focus{
    outline:none;
}
.paginator-button__active{
    padding:0 16px; 
    background:rgb(15,123,255)
}

/*page7*/

p{
    
}
.flexcolumn{
    display: flex;
    flex-direction: column;
}
.flexrow{
    display: flex;
    flex-direction: row;
}
#page7 {
    text-align: start;
    background-color: #ffffff;
}
.textalignstart p{
    text-align: start;
}
.textalignstart a{
    color: #0063dd;
}
.textalignstart h3{
    color: #0063dd;
}
.textalignstart h2{
    text-align: start;
} 

/*page8*/

#page8{
    background-color: #f5fcfd;
}
#btnGS{
    font-size: 1.3vw;
    font-weight: bold;
    border-radius: 0.2em;
    height: 100%;
    width:100%;
    color:white;
}

/*footer*/

footer{
    background-color:  #0f7bff;
    padding-bottom: 2%;
}
footer h2{
    font-weight: bold;
    color: #feffff;
    font-size:2.1vw;
}
.footer_form{
    width:100%;
    display:flex;
    margin:0 auto;
    justify-content: center;
}
.footer_input{
    border:2px solid white;
    padding:15px 25px;
    max-width:400px;
    width:70%;
    background:#0f7bff;
    color:white;
    border-radius:30px;
    font-size:18px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.footer_input:focus{
    outline:none;
    border:2px solid white;
    background:#0f7bff;
    border-radius:30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.footer_input::placeholder{
    color:white;
}
.footer_button{
    background:white;
    border:none;
    color:#0f7bff;
    border-radius: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-weight: 700;
    padding:10px 35px;
    font-size:16px;
    text-transform: uppercase;
}
.footer_button:hover{
    color:white;
    background:#0f7bff;
    border:2px solid white;
    border-radius: 30px;
    padding:8px 34px;
    border-left:none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.footer_button:focus{
    outline:none;
}
.footer_button:active{
    outline:none;
    background:rgb(0,95,227);
}
.footfont{
    color: white;
    font-size: 2vh;
}
