*{
    margin: 0;
    padding: 0;
    font-family:'Quicksand', sans-serif;
    font-weight: 'regular';
}
img{
    width:100%;
}
body{
    background-color:#f5fcfd;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    color: #929292;
    margin: auto; 
    padding: 0px;
}
p{
    text-align: center;
}
h3{
    text-align: center;
}
a{
    font-size: 1.5vw;
    color:#646464;
    padding: 0px;
}
img{
    size: cover;
}
a:hover{
    color: #0f20ff;
}
.p{
    text-align: center;
}
.container{
    display: flex;
    align-self: center;
    max-width: 1920px;
    width: 100vw;
    padding-right: 1%;    
    padding-left: 1%;
}
.background{
    background-image: url(../img/Shape1.png);
    background-repeat: no-repeat;
    background-size:cover;
    margin-bottom: 10vh;
}
.btn{
    font-size: 1.3vw;
    font-weight: bold;
    border-radius: 1.5em;
    background-color: #0063dd;
    width: 100%;
    height: 100%;
    z-index: 6;
}
.btn:hover{
    background-color: #5480bb;
}
.empty-btn{
    background-color: white;
    font-weight: bold;
    border-color: #0063dd;
    color:  #0063dd;
}
/*header*/

header {
    padding: 0px;
    margin-bottom: 2vw;
    position: relative;
    height: auto !important;
}
.Logo{
    display:flex;
    align-items: center;
    height: 100%;
    display: flex;
    background-color: #0f7bff;
    margin-top: 0px;
    margin-left: 5%;
    border-radius: 0px 0px 0.8em 0.8em;
    width: 12vw;
    height: 12vh;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.Logo h2{
    font-weight: bold;
    color: #feffff;
    font-size:2.1vw;
}
.navbar{
    padding-top: 0px;
    display: flex;
    align-self: center;
}
.navbar-nav{
    display:flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
@media(max-width: 767px){
    .navbar-nav{
        display:flex;
        flex-wrap: wrap;
        align-items: center; 
    }
    header .nav-item{
        display:flex;
        font-size: 2vh;
        align-items: center;
        padding: 0px;
    }
    .btn{
        font-size: 3vw;
    }
    .Logo{
        width: 24vw;
        height: 14vh;
    }
    .Logo h2{
        font-size:4.2vw;
    }
    a{
        font-size: 3vw;
    }
    .navbar-toggler{
        margin-right: 5%;
    }
    .background{
        margin-bottom: 3vh;
    }
}
.firstcont{
    padding-top: 0px;
}
header .nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3vw;
    text-transform: uppercase;
    z-index: 5;
    padding: 0px;
}

/*main*/

.post{
    text-align: center;
    align-items: center;
    font-size: 2vw;
}
@media screen and (min-width: 1200px) {
    .post {
       font-size: 20px;
    }
}
.post-title{
    text-align: center;
    font-weight: bold;
    font-size: 3vw;
    color: #333333;
}
#empty-margin{
    height: 2vh;
}
@media(max-width: 767px){
    .post{
        font-size: 3vw;
    }
    .post-title{
        font-size: 5vw;
    }
}

/*section1*/

.block{
    background-color:#ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2vw;
    width: 22vw;
    overflow: clip;
}
.block #icon1{
    background-image: url(../img/Ellipse1.png);
    background-repeat: no-repeat;
    background-size:cover;
}
.block #icon2{
    background-image: url(../img/Ellipse2.png);
    background-repeat: no-repeat;
    background-size:cover;
}
.block #icon3{
    background-image: url(../img/Ellipse3.png);
    background-repeat: no-repeat;
    background-size:cover;
}
#forblocks{
    width: 70vw;
}
#CleanDesign{
    margin-top: 4vh;
}
#Analysis{
    margin-bottom: 4vh;
}
#Messaging{
    margin-bottom: 4vh;
}
@media (max-width: 767px){
    #forblocks{
        width: 90vw;
    }
    .block{
        width: 90vw;
    }
    #CleanDesign{
        margin-top: 0vh;
    }
    #Analysis{
        margin-bottom: 0vh;
    }
    #Messaging{
        margin-bottom: 0vh;
}
/*
.empty-btn{
    background-color: #f5fcfd;
    border-color: #0f7bff;
    color: #0f7bff;
    font-weight: bold;
    z-index: 8;
}
.post-title{
    font-weight: bold;
    font-size: 36px;
    color: #333333;
    z-index: 9;
}
.container{
    top: 0px;
    text-align: center;
    z-index: 3;
}
.post{
    padding-top: 30px;
    padding-bottom: 20px;
    z-index: 11;
}
}
.img{
    z-index: -2;
    position: absolute;
}
.flex{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 512px;
    width: 1912px;
    align-content: center;
}
.block{
    background-color: #ffffff;
    width: 360px;
    height: 290px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}
.icon{
    z-index: 1;
    position: relative;
}
.foricon{
    z-index: 0;
    position: relative;
    left: -60px;
}
.list{
    display: flex;
    flex-direction: column;
    align-content: center;

}
